.title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.subtitle{
    font-size: 24px;
    font-weight: semi-bold;
    margin-bottom: 15px;
}

.text{
    font-size: 16px;
    margin-bottom: 10px;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    background-color: #2c2c2c;
    color: #ffffff;
    text-align: center;
}

a {
    color: #1DB954;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    background-color: #1DB954;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #17a44c;
}

.statsDiv {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #3a3a3a;
    width: 30%;
    height: auto;

}

.tableDiv {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: flex-start;
}

table {
    width: 25%;
    border-collapse: collapse;
}

td, th {
    padding: 8px;
    text-align: center;
}

img{    
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: auto;
}

.chartDiv {
    margin-top: 20px;
    width: 500px;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.largeChartDiv {
    margin-top: 20px;
    width: 700px;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


#chartsContainer {
    display: flex;
    justify-content: center;
}

select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #3a3a3a;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

#profileDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #17a44c;
    padding: 15px;
    border-radius: 10px;
    border:#3a3a3a solid 2px;
    width: 45%;
    margin: auto;
    font-size: x-large;
}

#profileInfo {
    margin-top: 10px;
    text-align: center;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    font-size: x-large;

}

#profileImg {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}